/Chapter1Part1HuynhTanHoaVer2.0/build/
/Chapter1Part1HuynhTanHoaVer2.0/nbproject/private/
/Chapter1AbstractInterface/nbproject/private/
/Chapter1AbstractInterface/build/
/chapter5_Multithreaded/nbproject/private/
/chapter5_Multithreaded/build/
/chapter5_Multithreaded/dist/